@import url('https://fonts.googleapis.com/css?family=Roboto:300');

*
    box-sizing: border-box

body
    margin: 0

#container
    margin: auto
    max-width: 1200px
    padding: 0 10px;

h1
    margin-bottom: 10px

h1, h2, button, p, a, label, th, td, input
    font-family: 'Roboto', sans-serif

h2
    margin-bottom: 10px

#table-holder
    overflow-x: auto

table
    border-collapse: collapse
    width: 100%

th, td
    border: 1px solid #bbb
    padding: 8px

td
    font-size: 14px

tr:nth-child(2n)
    background-color: #f4f4f4

.form-group
    margin-bottom: 20px

label
    margin-bottom: 5px
    font-size: 14px
    font-weight: bold

input[type=number],
input[type=text],
input[type=date]
    display: block
    width: 100%
    margin-top: 5px
    padding: 8px
    border: 1px solid #bbb
    border-radius: 6px
    outline: none

input[type=number]:focus,
input[type=text]:focus,
input[type=date]:focus
    border: 1px solid #0bf
    box-shadow 0 0 4px #999

input[type=checkbox]
    margin-right: 8px

input[type=submit]
    width: 100%
    padding: 10px
    background: #0bf
    color: white
    font-size: 16px
    border: none
    outline: none
    border-radius: 6px
    cursor: pointer

input[type=submit]:hover
    background: #0cf

#fixture-count
    font-size: 16px
    color: #666

@media screen and (max-width: 900px)
    h1
        margin-top: 10px
        font-size: 20px

    th, td
        padding: 5px
        font-size: 12px

    .form-group
        margin-bottom: 5px